{% extends "admin/base.html" %}

{% block content %}
  <table  class="table table-bordered table-striped">
    <thead>
      <th>File name</th>
      <th>Resume</th>
      <th>Nameless Resume</th>
    </thead>
    <tbody>
    {% for resume in resumes %}
      <tr>
        <th>{{ resume.fileName }}</th>
        <td><a href="{{ url_for("admin.editResume", resumeSlug=resume.resumeSlug) }}" class="btn primary">View</a></td>
	<td><a href="{{ url_for("admin.editNamelessResume", namelessResumeSlug=resume.namelessResumeSlug) }}" class="btn primary">View</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
